[Unit]
Description=Relay Listener Service
After=network.target

[Service]
ExecStart=/root/hive-ws-scripts/venv/bin/python /root/hive-ws-scripts/relay_listener.py
WorkingDirectory=/root/hive-ws-scripts
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
